.checkoutProduct{
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.checkoutProduct-info{
    padding-left: 20px;
    font-size: large;
    font-weight: 500;


}

.checkoutProduct-button{
    background-color: #FFD814;
    border:none;
    padding: 5px;
    border-radius: 3px;
}

.checkoutProduct-image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct-rating{
    margin: 10px 0 10px 0;
}

.checkoutProduct-price{
    margin: 10px 0 10px 0;
}